.topHeader {
    background-color: gray;
    height: 60px;
    font-family: "Sitka Display";
}


.bottomHeader {
    height: 35px;
    background-color: #333333;

}

.headerMain {
    position: relative;

}

.headerDetail {
    bottom: 50px;
}

.bottomHeaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cursorPointer {
    cursor: pointer;
    font-family: "Sitka Display";
}

.subColPadding {
    padding-right: 80px;
    padding-left: 80px;
    font-family: "Sitka Display";
    margin-top: 5px;
    font-style: italic;
}

.subHeader {
    font-family: "Sitka Display";
}